/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * ELEMENTS............Set unclassed elements
 * VISORS & MESSAGES...Them popups
 * [TODO] OBJECTS......Generic, underlying design patterns
 * COMPONENTS..........Full components
 */





/*------------------------------------*\
    $RESET
\*------------------------------------*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}





/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #222;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    background: #4F1B4B;
    background: linear-gradient(135deg, #4F1B4B 0%,#4F2716 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

i {
    cursor: pointer;
}

a, a:visited {
    text-decoration: underline;
}

ul {
    list-style: none;
}

sup {
    vertical-align: baseline;
   position: relative;
   top: -0.7em;
}

    .superscript--small {
        font-size: .7em;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
    border: none;
    padding: 10px 15px 10px 15px
}


/*------------------------------------*\
    $OBJECTS
\*------------------------------------*/

.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.remove-underline {
    text-decoration: none;
    color: inherit;
}

.remove-icon {
    color: #d5d5d5;
    display: none;
}

    .remove-icon i:hover {
        color: #c2484f;
    }

.loading-card {
    opacity: .3;
}

.loading-text {
    color: #aaa;
}

h2 span:before, h2 span:after {
    content: " —— ";
    /* TODO: Make the line a boarder-top / pretty */
}


/*------------------------------------*\
    $VISORS & MESSAGES
\*------------------------------------*/
#sign-in {
    text-align: center;
    color: #eee;
}

    #sign-in button {
        margin: 15px 0px 25px 0px;
        padding: 10px 40px 10px 40px;
        background: #eee;
    }

        #sign-in button:hover {
            background: #ebe6e0;
        }

    #sign-in p {
        text-align: left;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }



#loading-visor {
    background-color: rgba(255, 255, 255, .1);
    display: none;
    z-index: 6500;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
}

    #loading-visor.show {
        display: block;
    }





#welcome-message {
    display: none;
    background: #4F1B4B;
    background: linear-gradient(135deg, #4F1B4B 0%,#4F2716 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 65535;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #eee;
}

    #welcome-message.show {
        display: block;
    }

    #welcome-message h1 {
        text-align: center;
    }

    #welcome-message p {
        text-align: left;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    #welcome-message a {
        color: inherit;
    }






/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
.header {
    z-index: 10;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
}

.header__menubar {
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
}

    .header__nav {
        display: inline-block;
        height: 100%;
        border-right: 1px solid #e5e5e5;
    }

    .header-logo {
        width: 10%;
        float: left;
    }

        .header-logo__img {
            display: block;
            height: 100%;
            width: 100%;
            background-image: url(../img/twingl_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            text-indent: -200%;
            background-position: 50%;
        }

    .header__search {
        width: 80%;
        float: left;
        padding-top: 13px;
    }

        .header__search__box {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

            .search-box__input {
              font-size: 1em;
              height: 45px;
              width: 95%;
              border-style: none;
              margin-top: -50px;
            }

    .header__sign-out {
        width: 9%;
        float: right;
        text-align: center;
        font-size: .75em;
        padding-top: 17px;
    }

        .header__sign-out a, a:visited {
            text-decoration: none;
            color: inherit;
        }





/* Commonplace Navigation */
.navigation-container {
    padding-top: 50px;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

    .navigation-contents {
      width: 50%;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
    }

        .navigation-contents--search {
            width: 60%;
            max-width: 700px;
            height: 100%;
            min-height: 50px;
        }


    .navigation-contents i {
      font-size: 2em;
      color: #ccc;
      position: absolute;
      top: 60px;
    }

        .navigation-contents i:hover {
            color: #000;
        }

        .navigation__icon--left {
           left: 22.5%;
        }

        .navigation__icon--right {
           right: 22.5%;
        }

        .navigation__icon--back {
           left: 75px;
           display: inline-block;
           vertical-align: middle;
        }


    .navigation-contents h2 {
      text-align: center;
      padding-top: 9px;
      margin-top: 0px;
      margin-bottom: 0px;
    }





/* Commonplace Navigation */
.contexts-container {
    width: 70%;
    margin: 0px auto;
    padding-bottom: 10px;
    color: #E0E0E0;
}

    .contexts-container h2 {
        text-align: center;
        
    }

    .contexts-container h2:last-child {
        margin-top: 100px;
    }

    .contexts-container div {
        max-width: 600px;
        margin: 0px auto;
    }





/* Highlight Cards */
.card-container {
    width: 70%;
    margin: 0px auto;
    padding: 0px 0px 60px 0px;
}

@media(max-width: 1200px) {
    .card-container {
        width: 75%;
    }
}

@media(max-width: 960px) {
    .card-container {
        width: 90%;
    }
}

@media(max-width: 360px) {
    .card-container {
        width: 100%;
    }
}

.card {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
}

    .card-quote-container {
        background-color: #FFFDF8;
        padding: 45px 80px 35px 80px;
        position: relative;
    }

        .card-quote-container:hover  .remove-icon {
            display: block;
        }

        .card__delete {
            font-size: 1.5em;
            position: absolute;
            top: 0;
            right: 7px;
        }

        .primary__quote {
            font-family: 'Mercury SSm A', 'Mercury SSm B'; 
            font-weight: 400; 
            font-style: normal;
            line-height: 1.4em;
            margin: 0px;
            color: rgba(28, 20, 20, 0.78);
        }

        .primary__quote p::before {
            font-family: 'Mercury SSm A', 'Mercury SSm B';
            font-weight: 700;
            font-style: normal;
            font-size: 3.2em;
            color: rgba(221, 221, 221, 1);
            content: "\201C";
            float: left;
            position: absolute;
            top: 40px;
            left: 42px;
        }

        .primary__quote p {
           margin: 0;
        }

        .primary__quote a {
            color: inherit;
            text-decoration: none;
        }

            .primary__quote a:hover {
                text-decoration: underline;
            }

        .source {
            font-family: 'Whitney SSm A', 'Whitney SSm B';
            font-style: italic;
            font-size: .7em;
            color: #777;
            display: block;
            margin-top: 1em;
        }

            .source a {
                color: inherit;
            }


    .card-feed-container {
        background-color: #f6f0e5;
        padding: 0px 50px 0px 50px;
    }

        .timeline-group {
            padding: 0px 0px 0px 0px;
        }
            .timeline-entry:first-child {
                padding-top: 30px;
            }

            .timeline-entry {
                padding-top: 25px;
            }

            .timeline-entry:last-child {
                padding-bottom: 30px;
            }

                .timeline-entry:hover  .remove-icon {
                    display: inline-block;
                }

                .timeline-entry i {
                    font-size: 1em;
                }

                    .timeline-entry i:hover {
                        cursor: default;
                    }

                .timeline-entry__metadata {
                    float: left;
                    text-align: left;
                    width: 4%;
                    color: #aaa;
                }

                    .timeline-entry__metadata i {
                        display: inline-block;
                        vertical-align: top;
                    }

                .timeline-entry__body {
                    float: left;
                    width: 92%;
                    font-size: .8em;
                    line-height: 1.5em;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                    .timeline-entry__body a {
                        font-style: italic;
                        text-decoration: none;
                        color: inherit;
                    }

                        .timeline-entry__body a:hover {
                            text-decoration: underline;
                        }

                .timeline-entry__delete {
                    float: right;
                    text-align: right;
                    width: 4%;
                }

    .card-actions-container {
        background-color: #f6f0e5;
        width: 100%;
    }

        .card-actions-container button:first-child,
        .card-actions-container button:last-child {
          width: 33%;
        }

        .share-link a:before {
          content: "Share this URL: ";
        }

        .share-link a {
          font-weight: bold;
          text-align: center;
          width: 100%;
          display: block;
          font-size: 1.25em;
        }

        .card-actions-container button {
            background: #FFFDF8;
            color: #888;
            margin: 0px;
            width: 34%;
            border-top: 1px solid #e0d6cd;
            float: left;
        }

            .card-actions-container button[disabled='disabled'],
            .card-actions-container button:hover {
                background: #E9E6E0;
            }

            .card-actions-container button:first-child, .card-actions-container button:nth-child(2) {
                border-right: 1px solid #e0d6cd;
            }

        .new-note {

        }

            .new-note__body {
                display: block;
                width: 100%;
                height: 100px;
                resize: vertical;
                border-top: 1px solid #e0d6cd;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                background: #FFFDF8;
                font-size: .8em;
                color: #222;
                padding: 30px 80px 30px 80px;
                margin: 0px;
            }

        /*      .card__connect--swing {
                    float: left;
                    -webkit-animation-duration: 3s;
                    -webkit-animation-delay: 0s;
                    -webkit-animation-iteration-count: infinite;
                    -moz-animation-duration: 3s;
                    -moz-animation-delay: 0s;
                    -moz-animation-iteration-count: infinite;
                    -animation-duration: 3s;
                    -animation-delay: 0s;
                    -animation-iteration-count: infinite;
                }*/
