[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    margin: 0;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    background-color: #e9e9df;
}

i {
    cursor: pointer;
}

a, a:visited {
    text-decoration: underline;
}

.search {
    width: 100%;
    padding-bottom: 20px;
}

    .search--hide {
        width: 35px;
        padding-top: 20px;
        padding-left: 100px;
    }

    .search__form {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

        .search-box {
            width: 250px;
            background-color: #fefefd;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            box-shadow: 1px 1px #e6e9e9;
        }

            .search-box__icon {
                color: #ccc;
            }

            .search-box__input {
                font-size: .9em;
                height: 20px;
                width: 91%;
                background-color: #fefefd;
                border-style: none;
            }

    .search-results {
        width: 100%;
        background-color: #e3e3d4;
    }

        .search-results--notice {
            text-align: center;
            padding-bottom: 10px;
        }

        .search-results__list {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 40px;
        }

        .search-results_twingling {
            color: #aaa;
        }

.commonplace__container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.expanded__context {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 80px;
}

.expanded__nav {
    float: left;
    width: 5%;
    padding-top: 75px;
    padding-left: 75px;
    color: #ccc;
}

    .expanded__nav:hover {
        color: #000;
    }

.expanded__twinglings {
    width: 100%;
    background-color: #e3e3d4;
    padding-top: 100px;
    padding-bottom: 100px;
}

    .expanded__twinglings__container {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

.expanded__highlights {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.naviagtion {
    width: 2.5%;
    height: 100%;
}

.navigation__back {
    float: left;
    color: #ccc;
}

    .navigation__back:hover {
        color: #000;
    }

.navigation__forward {
    float: right;
    color: #ccc;
}

    .navigation__forward:hover {
        color: #000;
    }

.card {
    width: 47%;
    margin: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: #fefefd;
    box-shadow: 1px 1px #e3e3d4;
}
    .card--min {
        width: 23%;
        margin: 1%;
    }

    .card--origin {
        width: 30%;
    }

    .card--remove {
        position: relative;
        top: -30px;
        right: -20px;
        float: right;
        color: red;
    }

    .card__quote:before {
        font-family: serif;
        font-style: normal;
        font-size: 4em;
        color: #ddd;
        content: "\201C";
        line-height: 0px;
        float: left;
        position: relative;
        left: -35px;
        top: 5px;
    }

    .card__quote--min:before {
        font-size: 3em;
        left: -22px;
        top: 5px;
    }

    .card__quote {
        color: #808080;
        font-style: italic;
        text-align: justify;
        text-justify: inter-word;
    }

    .card__quote--min {
        font-size: .8em;
        padding-left: 5%;
        padding-right: 5%;
    }

    .card__quote:after {
        font-family: serif;
        font-style: normal;
        font-size: 4em;
        color: #ddd;
        content: "\201D";
        line-height: 0px;
        float: right;
        position: relative;
        right: -35px;
        bottom: -30px;
    }

    .card__quote--min:after {
        font-size: 3em;
        right: -20px;
        bottom: -20px;
    }

    .card__attribution {
        color: #808080;
        font-size: .8em;
        width: 70%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        padding-left: 40px;
    }

    .card__attribution--min {
        font-size: .6em;
        padding-top: 2%;
        padding-left: 5%;
    }

    .card__attribution a {
        color: #808080;
    }

    .card__comment {
        font-size: .9em;
        padding-top: 30px;
        width: 80%;
        padding-left: 50px;
    }

    .card__comment--min {
        font-size: .7em;
        padding-left: 30px;
    }

    .card__actions {
        height: 17px;
        width: 100%;
    }

    .card__actions--min {
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .card__show-comments {
        width: 13px;
        float: left;
    }

    .card__twinglings {
        width: 60px;
        float: right;
    }

    .card__twinglings--expanded {
        width: 20px;
        float: right;
    }

    .card__connect {
        color: purple;
    }

    .card__connect--swing {
        position: relative;
        float: right;
        width: 8px;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: infinite;
        -animation-duration: 3s;
        -animation-delay: 0s;
        -animation-iteration-count: infinite;
    }

.new-comment {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .new-comment__body {
        width: 100%;
        resize: vertical;
    }

    .new-comment__submit {

    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}