<div class="expanded__nav">
  <i class="icon-chevron-sign-left icon-3x" ng-click="navigateTo(highlight.created)"></i>
</div>

<div class="expanded__context">
    <blockquote class="card__quote">{{highlight.quote}}</blockquote>
    <div class="card__attribution" ng-cloak>&mdash;
      <a href="{{highlight.context_url}}"> {{highlight.context_url | ShortenedURL}}</a>
    </div>
    <div class="card__comment" ng-repeat="comment in highlight.comments">{{comment.body}} <hr></div>
    <!-- <i class="icon-plus" ng-click="comment.showThis = !comment.showThis"></i>
    <div class="new-comment" ng-show="comment.showThis">
      <textarea class="new-comment__body" ng-model="comment.new"></textarea>
      <button class="new-comment__submit" ng-click="addComment(highlight.id, comment.new)">Add Comment</button>
    </div> -->
</div>

<div class="expanded__twinglings">
  <div class="expanded__twinglings__container" masonry>
    <div class="card masonry-brick" ng-repeat="twingling in twinglings">
      <blockquote class="card__quote">{{twingling.quote}}</blockquote>
      <div class="card__attribution">&mdash; <a href="{{twingling.context_url}}">{{twingling.context_url | ShortenedURL}}</a></div>
      <div class="card__comment" ng-repeat="comment in twingling.comments">{{comment.body}} <hr></div>
      <div class="card__actions">
        <i class="icon-reply-all card--jump" ng-click="navigateTo(twingling.created)"></i>
        <div class="card__twinglings card__twinglings--expanded">
          <i class="icon-code-fork search-results_twingling" ng-click="showTwinglings(twingling.id)"></i><sup>{{twinglingCount(twingling.twinglings.length)}}</sup>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="expanded__highlights" masonry>
  <div class="card card--origin masonry-brick" ng-repeat="highlight in highlights">
    <div class="card__quote card__quote--min">{{highlight.quote}}</div>
    <div class="card__attribution card__attribution--min">&mdash; <a href="{{highlight.context_url}}">{{highlight.context_url | ShortenedURL}}</a></div>
    <div class="card__comment card__comment--min" ng-repeat="comment in highlight.comments">{{comment.body}} <hr></div>
    <div class="card__actions card__actions--min">
      <i class="icon-reply-all card--jump" ng-click="navigateTo(highlight.created)"></i>
      <div class="card__twinglings card__twinglings--expanded">
        <i class="icon-code-fork search-results_twingling" ng-click="showTwinglings(highlight.id)"></i><sup>{{twinglingCount(highlight.twinglings.length)}}</sup>
      </div>
    </div>
  </div>
</div>