<div class="body__container">

  <a ng-click="navigateTo(highlight.created)">Back</a>
  <br><br>
  <blockquote class="card__quote">{{highlight.quote}}</blockquote>
  <div class="card__attribution">&mdash; <a href="{{highlight.context_url}}">{{highlight.context_url}}</a></div>
  <div class="card__comment" ng-repeat="comment in highlight.comments">{{comment.body}} <hr></div>
  <!-- <i class="icon-plus" ng-click="comment.showThis = !comment.showThis"></i>
  <div class="new-comment" ng-show="comment.showThis">
    <textarea class="new-comment__body" ng-model="comment.new"></textarea>
    <button class="new-comment__submit" ng-click="addComment(highlight.id, comment.new)">Add Comment</button>
  </div> -->
  <br><br>
  <hr>
  <br><br>

  <div masonry>
    <div class="card masonry-brick" ng-repeat="twingling in twinglings">
      <blockquote class="card__quote">{{twingling.quote}}</blockquote>
      <div class="card__attribution">&mdash; <a href="{{twingling.context_url}}">{{twingling.context_url}}</a></div>
      <div class="card__comment" ng-repeat="comment in twingling.comments">{{comment.body}} <hr></div>
      <i class="icon-reply-all" ng-click="navigateTo(twingling.created)"></i>
    </div>
  </div>

</div>