<!-- Header -->
<div class="header">
  <div class="header__menubar  cf">
    <div class="header__nav header-logo">
      <a href="/" class="header-logo__img">Twingl</a>
    </div>
    <div class="header__nav header__search">
      <div class="header__search__box">
        <form ng-submit="search(searchTerm)">
            <input type="search" class="search-box__input" ng-model="searchTerm" tabindex=1 placeholder="Search..." autofocus>
        </form>
      </div>
    </div>
    <div class="header__nav header__sign-out">
      <a href="" ng-click="signOut()"><i class="fa fa-sign-out"></i> Sign Out</a>
    </div>
  </div>


  <!-- Navigation -->
  <div class="navigation-container" ng-switch on="headerNavigationState">
    <!-- Time Based -->
      <div class="navigation-contents" ng-switch-when="highlights">
        <i class="fa  fa-chevron-circle-left  navigation__icon--left" ng-click="flickBackOnePage()" title="Flick back one page"></i>
        <h2>{{timeSlice.beginning | date:'EEEE'}} ({{timeSlice.beginning | date:'MMMM, d'}})</h2>
        <i class="fa  fa-chevron-circle-right  navigation__icon--right" ng-click="flickForwardOnePage()" title="Flick forward one page"></i>
      </div>
    <!-- Search Based -->
      <div class="navigation-contents  navigation-contents--search" ng-switch-when="search">
        <i class="fa  fa-arrow-circle-left  navigation__icon--left" ng-click="cardView('highlights')" title="Return to browsing"></i>
        <h2>{{searchStatus}}</h2>
      </div>
    <!-- Loading -->
      <div class="navigation-contents" ng-switch-when="loading">
        <h2>Loading...</h2>
      </div>
  </div>
</div>


<!-- Highlight Cards -->
<div class="card-container">
  <div class="card" ng-repeat="card in cards">
    <!-- The Highlight's Quote -->
    <div class="card-quote-container">
      <div class="card__delete  remove-icon">
        <i class="fa  fa-times-circle" ng-click="deleteObject('card', card.id, $index)" title="Delete Highlight"></i>
      </div>
      <blockquote class="primary__quote">
        <p>{{card.quote}}</p>
        <span class="source">from <a href="{{card.context_url}}" target="_blank">{{card.context_url | ShortenedURL}}</a></span>
      </blockquote>
    </div>
      
    <!-- The Card's Feed -->
    <div class="card-feed-container">
      <div class="timeline-group">
        <div class="timeline-entry  cf" ng-repeat="object in card.card_feed">
          <div class="timeline-entry__metadata" ng-switch on="object.type">
            <i ng-switch-when="comment" class="fa  fa-comment-o"></i>
            <i ng-switch-when="twingling" class="fa  fa-link"></i>
          </div>
          <div class="timeline-entry__body" ng-switch on="object.type">
            <span ng-switch-when="comment">{{object.body}}</span>
            <span ng-switch-when="twingling"><a href="/#/{{formatDate(object.card_created)}}">"{{object.highlight_quote}}"</a></span>
          </div>
          <div class="timeline-entry__delete  remove-icon">
            <i class="fa  fa-times" ng-click="deleteObject(object.type, object.id, $parent.$index, $index)" title="Remove Item"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Comment, Add Link -->
    <div class="card-actions-container">
      <div class="card-actions" ng-hide="card.hideCardActions">
        <button ng-click="card.showNewCommentSection = true; card.hideCardActions = true;">Add Comment</button>
        <div style="display: inline-block" ng-controller="LinkController">
          <button ng-click="stageResource('card', card.id, card)">Add Link</button>
        </div>
      </div>

      <!-- Create Comment Module -->
      <div class="new-comment" ng-show="card.showNewCommentSection">
        <textarea class="new-comment__body" ng-model="comment.text" placeholder="Your comment..." tabindex=2></textarea>
        <button class="new-comment__submit" ng-click="addComment($index, card.id, comment.text)" tabindex=3>Save Comment</button><button class="new-comment__cancel" ng-click="card.showNewCommentSection = false; card.hideCardActions = false" tabindex=4>Cancel</button>
      </div>
    </div>

  </div>

  <!-- Link UI -->
  <div class="link_ui {{uiStatus()}}" ng-show="showInterface()" ng-controller="LinkController">
    <div class="link_ui__orb" ng-disabled="!enableCommit()" ng-click="commitLink()"></div>
    <div class="link_ui__corona"></div>
    <div class="link_ui__card link_ui__origin" ng-show="origin()">
      <i class="unstage  fa  fa-minus-square" ng-click="clearOrigin()" title="Remove this quote"></i>
      <p class="quote">{{origin().quote}}</p>
    </div>
    <div class="link_ui__card link_ui__termination" ng-show="termination()">
      <i class="unstage  fa  fa-minus-square" ng-click="clearTermination()" title="Remove this quote"></i>
      <p class="quote">{{termination().quote}}</p>
    </div>
  </div>

  <div class="link_ui__occlusion_fix" ng-show="showInterface()" ng-controller="LinkController"></div>

</div>
