<div class="body__container">
  <div masonry>
    <div class="card masonry-brick" ng-repeat="highlight in highlights | orderBy:'-created'">
      <i class="icon-remove card--remove" ng-click="deleteHighlight(highlight.id)"></i>
      <blockquote class="card__quote">{{highlight.quote}}</blockquote>
      <div class="card__attribution">&mdash; <a href="{{highlight.context}}">{{highlight.context}}</a></div>
      <div class="card__comment" ng-repeat="comment in highlight.comments">{{comment.body}} <hr></div>
      <i class="icon-plus" ng-click="comment.showThis = !comment.showThis"></i>
      <div class="new-comment" ng-show="comment.showThis">
        <textarea class="new-comment__body" ng-model="comment.new"></textarea>
        <button class="new-comment__submit" ng-click="addComment(highlight.id, comment.new)">Add Comment</button>
      </div>
    </div>
  </div>
</div>