<div class="body__container">

  <div class="search">
    <form ng-submit="search(searchTerm)">
      <i class="icon-search"></i>
      <input type="search" class="search__input" ng-model="searchTerm" placeholder="...">
    </form>
    <div class="search__results" ng-show="showSearchResults">
      <div class="card" ng-repeat="result in searchResults">
        <blockquote class="card__quote">{{result.quote}}</blockquote>
        <div class="card__attribution">&mdash; <a href="{{result.context_url}}">{{result.context_url}}</a></div>
        <div class="card__comment" ng-repeat="comment in result.comments">{{comment.body}} <hr></div>
        <i class="icon-reply-all" ng-click="navigateTo(result.created)"></i>
      </div>
    </div>
  </div>

  <div class="navigation navigation__back">
    <i class="icon-chevron-left icon-2x" ng-click="flickBackOnePage()"></i>
  </div>

  <div class="content" masonry>
    <div class="card masonry-brick" ng-repeat="highlight in highlights | filter:{ created: timeChunk } | orderBy:'-created'">
      <i class="icon-remove card--remove" ng-click="deleteHighlight($index, highlight.id)"></i>
      <blockquote class="card__quote">{{highlight.quote}}</blockquote>
      <div class="card__attribution">&mdash; <a href="{{highlight.context_url}}">{{highlight.context_url}}</a></div>
      <div class="card__comment" ng-repeat="comment in highlight.comments">{{comment.body}} <hr></div>
      <div class="card--actions">
        <div class="card--show-comments">
          <i class="icon-plus" ng-click="comment.showThis = !comment.showThis"></i>
        </div>
        <div class="card--twinglings">
          <i class="icon-code-fork" ng-click="showTwinglings(highlight.id)"></i>
          {{twinglingCount(highlight.twinglings.length)}}
          <div class="card__connect--swing">
            <i class="icon-bolt card__connect" ng-click="newTwingling(highlight.id)"></i>
          </div>
        </div>
      </div>
      <div class="new-comment" ng-show="comment.showThis">
        <textarea class="new-comment__body" ng-model="comment.new"></textarea>
        <button class="new-comment__submit" ng-click="addComment($index, highlight.id, comment.new); comment.showThis = !comment.showThis">Add Comment</button>
      </div>
    </div>
  </div>

  <div class="navigation navigation__forward">
    <i class="icon-chevron-right icon-2x" ng-click="flickForwardOnePage()"></i>
  </div>

</div>