<div>
  [Commonplace Logo]
  <h1>Remember more of what you read.</h1>
  <h3>Commonplace is your digital scrapbook; all your annotations, hunches, and Twinglings are bound together in a signle anthology. Finally you can see the bigger picture, and connect the dots.</h2>
  <a href="#" ng-click="signIn()">Sign In</a>
</div>

<div>
  <h2>How it works</h2>
  <p>- Review | *give your day edges* | The anxiety that you're reading all these things, but none of it is really sinking in, is a familar one to many. Commonplace turns your day activties into diary entries; now you can revise what you collected today, and what you collected months prior.
    <br>
  - Connect | *see the bigger picture* | With all your things in one place, scerendipity is no longer the exception...
    <br>
  - Discuss | *continue the conversation* | You shouldn't have to end a conversation simply because you've moved onto something else. Commonplace lifts your conversations from the margins, and enables you to contine the discussion under today's light.</p>
</div>

...

<div>
  <h2>Good enough for the theory of evolution</h2>
  <p>A few hundred years ago Charles Dawin incubated his theory of evolution, which would go on to reshape our perspective on the natural world. This remarkable theory was incubated in the humblest of locations, a Commonplace book.</p>
</div>